body {
    margin: 0 auto;
    font-family: Roboto;
	background-color: #f4f4f4;
	/* background-image: url("Site-Assets/flames-purple.png");
	
	background-repeat: repeat-x; */
  }

/* flames*/
#flames{
	height: 50px;
	background-position: center;
	background-repeat: repeat;

}

/*Hamburger Menu*/
/*mine*/
.logo-area{
  display: flex;
}
.logo-area img{

  display: block;
  display: inline-block;
  margin-top:  auto;
  margin-bottom:  auto;
  width: 50px;
  height: 50px;
}


#TGR-Text{
  padding-left: 10px;
  color: #fff;
 
}

header a{
  text-decoration: none;
}
/*mine*/

header {
	height: 70px;
	background-image: linear-gradient(-180deg, #2c2929, #3f3e3e);
	border-bottom: 3px solid #4a4848;
	display: flex;
	align-items: center;
	justify-content: center;
}
header > h1 {
	width: calc(100% - 160px);
	text-align: center;
	font-size: 20px;
	color: white;
}
header > .top {
	position: absolute;
	left: 20px;
}
header > .top a.menu_icon i {

  color: #fff;
  

	font-size: 40px;
	padding-top: 5px;
	transition: .2s ease;
}
header > .top a.menu_icon:hover i {
	color: #d34040;
}



nav.menu {
	width: 200px;
  min-height: calc(100vh - 121px);
  
  background-image: linear-gradient(90deg, #2c2929, #3f3e3e);

  /* border-right: 5px solid #494949; */
  border-right: 3px solid #4a4848;
  

	position: absolute;
	left: -200px;
	transition: .3s all;
}
nav.menu h3{
  font-size: 16px;
  color: #fff;
  text-align: center;
  text-decoration: underline;
  
}

#sign-up-here{
  font-size: 16px;
  display: block;
  background-color: #d37440;


}
nav.menu > a {
    display: block;
    padding: 15px;
	font-size: 15px;
/*color of nav anchors/links unclicked*/
    text-align: center;
    /* background-color: #7040d3; */
    color: #fff;
    text-decoration: none;
}

nav.menu #member1:hover{
  background-color: #7040d3;
}
nav.menu #member2:hover{
  background-color: #d34040;
}
nav.menu #member3:hover{
  background-color: #407bd3;
}
nav.menu #member4:hover{

  background-color: #d37440;;
}

nav.menu #member5:hover{
	background-color: #40d377;
}
nav.menu #member6:hover{
	background-color: #c740d3;
}

nav.menu #template-page:hover{
	background-color: #676767;
}

nav.menu #about-us-page:hover{
	background-color: #676767;
}

main {
	/*content area is wrapped in main*/
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
}
/* not used as of right now
footer {
	height: 50px;
	background-color: #494949;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	position: fixed;
	width: 100%;
} */

.menu_show {
	left: 0!important;
}

/*Main Blog page(s)*/
.content-area{
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* padding-bottom: 25px; */
	box-shadow: 5px 0px 15px #808080;

}

.content-header{
	margin: 0 auto;
	background-image: linear-gradient(-180deg, #2d2a2a, #3f3e3e);
	
}

.content-title{
	border-bottom: 1px solid #fff;
	color: #fff;
	
	padding: 20px;
	text-align: center;
	font-size: 30px;

}

.about-info{
	margin-right: auto;
	margin-left: auto;
	width: 260px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	background-image: linear-gradient(-180deg, #2d2a2a, #3f3e3e);
	border-radius: 0px 0px 30px 30px;
	box-shadow: 5px 5px 5px #808080;
	/* z-index: -1; */
}
.about-info img{
	
	width: 80px;
	height: 80px;
	border-radius: 40px;
}
/*needs to be the same width as date posted*/
.article-by{

	padding: 10px;
	margin-bottom: 0;
}
.article-by h3{
	color: #fff;
	font-style: italic;
	font-weight: normal;
	margin-bottom: 0;

}

/*needs to be the same as article by*/
#date-posted{
	text-align: center;
	margin-top: 0;
	padding: 3px 3px 3px 3px;
	background-color: #7040d3;
	border-radius: 10px;

}

.content-article{

	background-color: #fff;

}

.content-article .cite{
	font-size: 12px;
	text-align: center;
}

.content-article p {
	font-family: "Roboto", sans-serif;
	color:#000;
	font-size: 17px;
	font-weight: lighter;
	margin-top: 0;
	margin-bottom: 0;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.content-article img, iframe{
	display: flex;
	margin-left: auto;
	margin-right: auto;

}


/*Main Blog page(s) end*/
/*content area ends*/


/*Form page*/
#form-area{

	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 500px;
	background-color: #d37440;
	padding: 20px;
	border: 1px solid #000;
	box-shadow: 2px 2px 5px #3f3e3e;
}

#form-area h1, h4{
	text-align: center;
}

#form-area h1{
	color: #fff;
	text-decoration: underline;
}

#email_form{
	text-align: left;
	padding: 10px;
}

.info-section{
	padding-top: 10px;
	padding-bottom: 10px;
	
}

label {
    font-family: Roboto;
    color: #ffdc9e;
	float: left;
    width: 11em;
    text-align: right;
}

input {
    width: 12em;
    margin-left: 1em;
    margin-bottom: .5em;
}

label.error {
    float: none;
    color: #fff;
    font-size: 87.5%;
    margin-left: .5em;
    font-family: Roboto;

}

input#join {
    padding:5px 15px;
    background-color:#000;
    color: rgb(255,255,255);
    font-size: 16px;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width:75px
    }
input#reset {
	padding:5px 15px;
    background-color:#000;
    color: rgb(255,255,255);
    font-size: 16px;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
	border-radius: 5px; 
	width: 75px;
}
/*Form page*/

/*Thank you for joining -- page!->comes from form page*/
#thank-you-section{
	font-family: Roboto;
	background-color: #d37440;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	height: auto;
	box-shadow: 3px 3px 10px #3f3e3e;
}

#thank-you-section h1{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: #fff;
}


#thank-you-section h4{
	text-decoration: underline;
}

#thank-you-section dl{
	margin-left: auto;
	margin-right: auto;

	width: 60px;
	padding: 15px;

}

#thank-you-section #info-id{
	color: #000;
	padding-bottom: none;

	
}

#thank-you-section #info{
	color: #fff;
}


/*Thank you for joining -- page!->comes from form page*/

/*About Us/Meet the team section*/


#meet-the-team{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	border-radius: 20px;
	padding-bottom: 20px;
}

#team-title{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #000;
	padding-top: 15px;
	padding-bottom: 15px;
}

tr img{
	padding: 10px;
	height: 90px;
	width: 90px;
	border-radius: 45px;
}

td{
	text-align: center;
	max-width: 175px;
	min-width: 175px;
}
.names td{
	border-radius: 20px 20px 0px 0px;
	background-color: #000;
	color: #fff;
}
/*members' signature colors*/
.names #Landon{
	background-color: #7040d3;
}

.names #Tyler{
	background-color: #d34040;;
}

.names #Brian{
	background-color: #407bd3;
}

.names #Erika{
	background-color: #d37440;
	
}

.names #Fatemeh{
	background-color: #40d377;
}
.names #Meghan{
	background-color: #c740d3;
}


.roles td{
	background-image: linear-gradient(-1800deg, #2c2929, #3f3e3e);
}

.roles #pm{
	
	color: #7040d3;
}

.roles #ue{
	color: #d34040;;
}

.roles #ce{
	color:  #407bd3;

}

.roles #gd{
	color: #d37440;
	
}

.roles #dev{
	color: #40d377;
}
.roles #dev2{
	color: #c740d3;
}


.images td {
	background-image: linear-gradient(-1800deg, #2c2929, #3f3e3e);
}


.why-this-role td{
	padding: 10px;
	background-image: linear-gradient(-1800deg, #2c2929, #3f3e3e);
	border-radius: 0px 0px 20px 20px;

}
.why-this-role td p{
	color: #fff;
	padding: 10px;
	text-align: left;
}

/*FAQ section*/

#FAQ{
	border: 1px solid #4a4a4a;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
}

#FAQ h1{
	text-align: center;
	text-decoration: underline;
}

#questions h3{
	font-weight: 500;
}

/*FAQ Part of the page ends and site-design-reason starts*/

#site-design-reason{
	margin-top: 20px;
	border: 1px solid #4a4a4a;
	padding: 20px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#site-design-reason h1{
	text-align: center;
	text-decoration: underline;
}

#site-design-reason h3{
	font-weight: 500;
}
/*Site design reason ends*/

#headline{
	text-align: center;
}

#reviews-area{
	display: block;
	width: 520px;
	margin-left: auto;
	margin-right: auto;
}

#reviews-area div{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#reviews-area p{
	text-align: center;
	font-size: 12px;
}

/*Video Reviews Area*/
#video-reviews-area{
	width: 560;
	margin-left: auto;
	margin-right: auto;
}

#video-headline{
	text-align: center;
	text-decoration: underline;
}

 #video-reviews-area ul{

	margin-right: auto;
	margin-left: auto;
	display: block;
	list-style-type: none;
} 

#video-reviews-area ul li{
	display: inline-block;
}

/*Wireframe Page*/
#wireframe{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

#wireframe img{
	padding-top: 20px;
	padding-bottom: 20px;
}

@media screen and (max-width: 425px) {
	header h1 {
		font-size: 16px;
	}
}
@media screen and (max-width: 360px) {
	nav.menu {
		width: 100%;
		left: -100%; 
	}
}